<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kiori.helpapplogin2">

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="Help App"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat"
        android:largeHeap="true">
        <activity android:name="com.example.kiori.helpapplogin2.Log_in" android:theme="@style/Theme.AppCompat.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name="com.example.kiori.helpapplogin2.Signup"
            android:label="Sign Up"
             >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kiori.helpapplogin2.Log_in" />
            <intent-filter>
                <action android:name="MAIN2"/>

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.kiori.helpapplogin2.MainActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kiori.helpapplogin2.Log_in" />
            <intent-filter>
                <action android:name="MAIN3"/>

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity android:name="com.example.kiori.helpapplogin2.DetailPageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kiori.helpapplogin2.MainActivity" />
            <intent-filter>
                <action android:name="DetailPageActivity"/>

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.example.kiori.helpapplogin2.Request"
            android:label="New Request"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kiori.helpapplogin2.MainActivity" />
            <intent-filter>
                <action android:name="RequestActivity"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.kiori.helpapplogin2.Aboutus"
            android:label="About us"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kiori.helpapplogin2.Log_in" />
            <intent-filter>
                <action android:name="AboutusActivity"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
